.container {
    padding: 2% 10% 5% 10%;
    background: #192536;
}
.K1 h1.region {
    color: white;
    font-weight: 600;
    font-family: sans-serif;
    padding-top: 5%;
}
p.top {
    color: white;
    font-family: sans-serif;
    padding-left: 4px;
    font-size: 15px;
    margin-bottom: 7px!important;
}
img.imgthumb {
    width: 200px;
    height: 117px;
}
p.txtname {
    color: white;
    font-size: 16px;
}
p.txtauthor {
    margin-top: -14px;
    color: #b7b7b7;
    font-size: 13px;
}
span.anticon.anticon-play-circle.iconcircle {
    padding-left: 10px;
}
.in {
    width: 90%!important;
    padding-left: 4%;
    padding-top: 6%;
}
.in:hover{
    background: #22354f;
}